#sec2{
    background-color: #f0f1f1;
    
    .sec2_container{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 35vw;
        padding: 75px 0;
    
    
        .parag{
        text-align: center;
        font-size: 25px;
        font-style: italic;
    
        }
        .author{
            display: flex;;
            align-items: center;
            gap: 10px;
            img{
                border-radius: 50%;
                
            }
            p{
                .bl{
                    color: blue;
                }
            }
        }
    }
}